<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Post.css') }}">
    <title>Forum - Posts</title>
</head>
<body>
    <h1>Forum - Posts</h1>
    <form action="/forum_post" method="POST">
        <textarea name="post_content" placeholder="Write your post here"></textarea>
        <button type="submit">Post</button>
    </form>

    {% for post in posts %}
        <div class="post-box">
            <p><strong>{{ post.author.username }}</strong></p>
            <p>{{ post.content }}</p>
            <!-- ALlows users to quickly reply to their own posts, in case additional information is required -->
            <a href="{{ url_for('reply_to_post', post_id=post.id) }}">Reply</a>
            {% if post.replies %}
                <ul>
                    Replies
                    {% for reply in post.replies %}
                    <p><strong>{{ reply.author.username }}</strong></p>
                    {{ reply.content }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <h3><a href="/dashboard">Go back to Dashboard</a></h3>
    <h3><a href="/exchange_rates">Exchange Rates</a></h3>
    <h3><a href="/logout">Logout</a></h3>
</body>
</html>
